<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @post.nombre %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @post.contenido %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Regresar', posts_path %>
